<!-- <hr>
<br>
<button mat-raised-button color="primary">Hello world</button><br><br>
<button mat-raised-button color="accent">Hello world</button><br><br>
<button mat-raised-button color="warn">Hello world</button><br><br> -->

<!-- <hr>
Material Typography
<br>
<div class="mat-headline-1">This is headline 1</div>
<div class="mat-headline-2">This is headline 2</div>
<div class="mat-headline-3">This is headline 3</div>
<div class="mat-headline-4">This is headline 4</div>
<div class="mat-headline-5">This is headline 5</div>
<div class="mat-headline-6">This is headline 6</div>
<div class="mat-subtitle-1">This is subtitle 1</div>
<div class="mat-subtitle-2">This is subtitle 2</div>
<div class="mat-body-1">This is body 1</div>
<div class="mat-body-2">This is body 2</div>
<div class="mat-caption">This is caption</div>
<div class="mat-button">This is button</div> -->

<!-- <hr>
Material Buttons
<br>
<p>Normal buttons</p>
<button mat-button>CLick me!</button>
<button mat-raised-button disableRipple>CLick me Ripple disabled!</button>
<button mat-flat-button>CLick me!</button>
<button mat-stroked-button>CLick me!</button>
<p>Icon Buttons</p>
<button mat-icon-button>Icon</button>
<button mat-fab>Fab</button>
<button mat-mini-fab>MiniFab</button> -->

<!-- <hr>
Toggle Buttons
<br>
<div>
  <mat-button-toggle #toggleBtn>Click me!</mat-button-toggle>
  {{toggleBtn.checked}}
  <br>
  radio toggle
  <mat-button-toggle-group #btnToggle="matButtonToggleGroup">
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{btnToggle.value}}
  <br>
  checked toggle
  <mat-button-toggle-group #btnToggle1="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{btnToggle1.value}}
</div> -->

<!-- <hr>
Material Icon
<br>
<div>
  <mat-icon>settings</mat-icon>
  <mat-icon>home</mat-icon>
  <mat-icon>menu</mat-icon>
  <mat-icon>delete</mat-icon>
  <mat-icon>key</mat-icon>
</div> -->

<hr>